<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Pratt - Free Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
      <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Pratt</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          <li  class="active"><%= link_to 'Home', welcome_index_path%></li>
            <li><%= link_to 'Edit', edit_user_registration_path%></li>
            <li><%= link_to 'Projects', 'proj'%></li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

              

        </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <div class="container">




<h2>Choose a project you'd like to back up:</h2><hr>
 

 
  <% @projects.each do |offer| %>



<p>
  <strong>Title:</strong>
  <%= offer.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= offer.desc %>
</p>

<p>
  <strong>Expiry Date:</strong>
  <%= offer.exp %>
</p>

<strong>Project is backed by these many people:</strong>
  <%= offer.backed %>
</p>

<p>
  <strong>Product roll out date:</strong>
  <%= offer.roll %>
</p>

<strong>Target Amount:</strong>
  <%= offer.target %>
</p>

<p>
  <strong>Minimum Backing Amount:</strong>
  <%= offer.min %>
</p>

<p>
  <strong>Pledged Amount:</strong>
  <%= offer.pl %>
</p>

<p>
  <strong>Ether Code:</strong>
  <%= offer.ethercode %>
</p>



<%= form_for :contract, url: contracts_path do |f| %>  <p>

    <p><%= f.label :Backing_Amount %><br>
    <%= f.text_field :back %></p>
  <%= f.hidden_field :projid , :value => offer.id %>


 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<hr>

  <% end %>

      </div>

  </div><!--/ #headerwrap -->


  <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      
      <br>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  
  <!-- FEATURES WRAP -->
  <div id="features" style="height: 150px;">
    <div class="container">
      <div class="row">

      </div>
    </div><!--/ .container -->
  </div><!--/ #features -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/bootstrap.js"></script>
  <script>
  $('.carousel').carousel({
    interval: 3500
  })
  </script>
  </body>
</html>


</html>