<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">LOREM</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><%= link_to 'Home', welcome_index_path%></li>
            <li><%= link_to 'Edit', edit_user_registration_path%></li>
            <li  class="active"><%= link_to 'Projects', 'proj'%></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><br><br><br>

    <div class="container">





<h2>Choose a project you'd like to back up:</h2><hr>
 

 
  <% @projects.each do |offer| %>



<p>
  <strong>Title:</strong>
  <%= offer.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= offer.desc %>
</p>

<p>
  <strong>Expiry Date:</strong>
  <%= offer.exp %>
</p>

<strong>Project is backed by these many people:</strong>
  <%= offer.backed %>
</p>

<p>
  <strong>Product roll out date:</strong>
  <%= offer.roll %>
</p>

<strong>Target Amount:</strong>
  <%= offer.target %>
</p>

<p>
  <strong>Minimum Backing Amount:</strong>
  <%= offer.min %>
</p>

<p>
  <strong>Pledged Amount:</strong>
  <%= offer.pl %>
</p>

<p>
  <strong>Ether Code:</strong>
  <%= offer.ethercode %>
</p>



<%= form_for :contract, url: contracts_path do |f| %>  <p>

    <p><%= f.label :Backing_Amount %><br>
    <%= f.text_field :back %></p>
  <%= f.hidden_field :projid , :value => offer.id %>


 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<hr>

  <% end %>



</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>