<html lang="en" ng-app="Dashboard" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/themes/blue.css">
  <!--
  <link rel="stylesheet" type="text/css" href="css/themes/green.css">
  <link rel="stylesheet" type="text/css" href="css/themes/red.css">
  -->

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-cookies.js"></script>
  <script type="text/javascript" src="js/ng-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="js/angular/bootstrap.js"></script>

</head>
<body ng-controller="MasterCtrl" class="ng-scope">

    <!-- Fixed navbar -->
      <div id="navigation" class="navbar navbar-default navbar-fixed-top" style="border-bottom: 3px solid #e7e7e7;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Backito</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          <li><%= link_to 'Home', welcome_index_path%></li>
            <li><%= link_to 'Edit', edit_user_registration_path%></li>
            <li   class="active"><%= link_to 'Projects', '/proj'%></li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

              

        </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <div class="container">




<h2> Added the contract with: </h2><br>


<p>
  <strong>Backing Amount:</strong>
  <%= @contract.back %>
</p>
 
<p>
  <strong>Transaction Hash:</strong>
  <%= @contract.tx %>
</p>





</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>