<html lang="en" ng-app="Dashboard" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/themes/blue.css">
  <!--
  <link rel="stylesheet" type="text/css" href="css/themes/green.css">
  <link rel="stylesheet" type="text/css" href="css/themes/red.css">
  -->

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-cookies.js"></script>
  <script type="text/javascript" src="js/ng-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="js/angular/bootstrap.js"></script>

</head>
<body ng-controller="MasterCtrl" class="ng-scope">

    <!-- Fixed navbar -->
      <div id="navigation" class="navbar navbar-default navbar-fixed-top" style="border-bottom: 3px solid #e7e7e7;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Backito</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          <li><%= link_to 'Home', welcome_index_path%></li>
            <li><%= link_to 'Edit', edit_user_registration_path%></li>
            <li   class="active"><%= link_to 'Projects', 'proj'%></li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

              

        </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>


  <div id="page-wrapper" ng-class="{'active': toggle}" class="active">

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-title"><span>CAMPAIGNS</span></li>
        <li class="sidebar-list">
          <a href="/proj">My Campaigns <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="/projs">New Campaign<span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
          <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>               
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    <div class="container">

<%= form_for :project, url: projects_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :exp %><br>
    <%= f.date_field :exp %>
  </p>

  <%= f.label :target %><br>
    <%= f.text_field :target %>
  </p>


  <%= f.label :ethercode %><br>
    <%= f.text_field :ethercode %>
  </p>

   <p>
    <%= f.label :roll %><br>
    <%= f.date_field :roll %>
  </p>

  <p>
    <%= f.label :min %><br>
    <%= f.text_field :min %>
  </p>

 
  <p>
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>






</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>